.classpath
.project
.settings
target
*.log
*.log.
thrift-generated-src-java/
thrift-generated-src-perl/
thrift-generated-src-ruby/
thrift-generated-src-cpp/
thrift-generated-src-python/
src/main/java/py/thrift/**
src/main/java/**
**/*.o
**/*.so
/bin
/target
.pydevproject
*.iml
